@model IEnumerable<BoVoyageBlandineThomasJonathan.Models.Voyage>

@{ Layout=null;}
    
    <div class="row" text-center>

        @foreach (var item in Model)
        {

            <table class="table" text-align="center">
                <tr>
                    @Html.DisplayFor(modelItem => item.Destination.Pays)
                </tr>
                <tr>
                    @Html.DisplayFor(modelItem => item.DateAller)
                </tr>
                <tr>
                    @Html.DisplayFor(modelItem => item.TarifToutCompris)
                </tr>
            </table>
        }

    </div>

    
