
@{
    Layout = "null";
}

<!DOCTYPE html>

<html lang="fr">
<head>
    <title>BoVoyage | Accueil </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .header {
            margin: 0;
            padding: 25px ;
        }

        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }

        footer {
            background-color: #f2f2f2;
            padding: 25px;
        }

        .carousel-inner img {
            width: 40%; 
            margin: auto;
            height: 40%;
        }

        @media (max-width: 100px) {
            .carousel-caption {
                display: none;
            }
        }
    </style>
</head>
<body>
    <div class="header text-center">
        <div class="container-fluid">
            <h1> BoVoyage </h1>
            <h4 style="font-style: italic"> Laissez-vous emmener </h4>
        </div>
    </div>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="~/">Home</a></li>
                    <li><a href="#">Naviguer</a></li>
                    <li><a href="#">A propos</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-log-in">  Se connecter</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Client</a> <br>
                            <a class="dropdown-item" href="#">Commercial</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="India.png" data-slide-to="0" class="active"></li>
            <li data-target="Ireland.png" data-slide-to="1"></li>
            <li data-target="Australia.png" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img href="#" src="India.png" alt="India">
                <div class="carousel-caption">
                    <h3 style="color: azure ; font-family: solid ">OFFRES SPECIALES</h3>
                    <p style="color: azure">Découvrez les merveilles de la région de Kerala</p>
                </div>
            </div>

            <div class="item">
                <img src="Ireland.png" alt="Irlande">
                <div class="carousel-caption">
                    <h3 style="color: azure">OFFRES SPECIALES</h3>
                    <p style="color: azure">Allez vous promener dans la campagne du Carlow</p>
                </div>
            </div>

            <div class="item">
                <img src="Australia.png" alt="Australie">
                <div class="carousel-caption">
                    <h3 style="color: azure">OFFRES SPECIALES</h3>
                    <p style="color: azure">Laissez-vous tenter par les plages du Queensland</p>
                </div>
            </div>
        </div>

        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Precedent</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Suivant</span>
        </a>
    </div>

    <div class="container text-center">
        <h3>Nos meilleures offres</h3><br>
        <div class="row">
            <div class="col-sm-4">
                <h4>Les prochains voyages</h4>
                <!--@Html.Action("TopFiveDate", "Shared")-->
            </div>
            <div class="col-sm-4">
                <h4>Les meilleurs budgets</h4>
                <!--@Html.Action("TopFivePrice", "Shared")-->
            </div>
            <div class="col-sm-4">
                <h4>Les destinations populaires</h4>
                <!--@Html.Action("TopFiveCountry", "Shared")-->
            </div>
        </div>
    </div><br>

    <footer class="container-fluid text-center">
        <p> &copy; BoVoyage </p>
    </footer>

</body>
</html>
