@model IEnumerable<BoVoyageBlandineThomasJonathan.Models.Voyage>

@*@{
        ViewBag.Title = "Voyage";
}*@


@section SectionStyle{
<style>
    .carousel-inner img {
        width: auto;
        margin: auto;
        height: auto;
    }
</style>
}
 
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <br>
    <ol class="carousel-indicators">
        <li data-target="India.png" data-slide-to="0" class="active"></li>
        <li data-target="Ireland.png" data-slide-to="1"></li>
        <li data-target="Australia.png" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-80" src="~/Images/India.png" alt="India">
            <div class="carousel-caption d-none d-md-block">
                <h3 style="color: azure ; font-family: solid ">OFFRES SPECIALES</h3>
                <p style="color: azure">Découvrez les merveilles de la région de Kerala</p>
                <a class="btn btn-link" href="http://localhost:61901/Voyages/Details/13" type="button">En savoir plus</a>
            </div>
        </div>

        <div class="carousel-item">
            <img class="d-block w-40" src="~/Images/Ireland.png" alt="Irlande">
            <div class="carousel-caption d-none d-md-block">
                <h3 style="color: azure">OFFRES SPECIALES</h3>
                <p style="color: azure">Allez vous promener dans la campagne du Carlow</p>
                <a class="btn btn-link" href="http://localhost:61901/Voyages/Details/21" type="button">En savoir plus</a>

            </div>
        </div>

        <div class="carousel-item">
            <img class="d-block w-40" src="~/Images/Australia.png" alt="Australie">
            <div class="carousel-caption d-none d-md-block">
                <h3 style="color: azure">OFFRES SPECIALES</h3>
                <p style="color: azure">Laissez-vous tenter par les plages du Queensland</p>
                <a class="btn btn-link" href="http://localhost:61901/Voyages/Details/10" type="button">En savoir plus</a>

            </div>
        </div>
    </div>

    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Precedent</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Suivant</span>
    </a>
</div>


<div class="container text-center">
    <h3 style="color: mediumaquamarine"><b>Nos meilleures offres</b></h3><br>
    <div class="row">
        <div class="col-sm-4">
            <h4 style="font-style: italic; color: darkslategrey">Les prochains voyages</h4>
            <div class="row" text-center>

                @foreach (var item in Model)
                {
                <table class="table" text-align="center">
                    <tr>
                        @Html.DisplayFor(modelItem => item.Destination.Pays)
                    </tr>
                    <tr>
                        @Html.DisplayFor(modelItem => item.DateAller)
                    </tr>
                    <tr>
                        @Html.DisplayFor(modelItem => item.TarifToutCompris)
                    </tr>
                </table>
                }

            </div>

        </div>
        <div class="col-sm-4">
            <h4 style="font-style: italic; color: darkslategrey">Les meilleurs budgets</h4>  

            @Html.Action("TopFiveBudget", "Shared")

        </div>
        <div class="col-sm-4">
            <h4 style="font-style: italic; color: darkslategrey" >Les destinations populaires</h4>

            @*@Html.Action("TopFiveTrending", "Shared")*@
        </div>
    </div>
</div><br>

