
@{
    ViewBag.Title = "Maintenance";
}
<style>
    h1 
    {
        text-align: center;
        margin-top: 50px;
    }

    IMG.displayed {
        display: block;
        margin-left: auto;
        margin-right: auto
    }
</style>

<h1>Page en cours de création, revenez bientôt pour la découvrir!</h1>
<IMG class="displayed" src="https://vignette.wikia.nocookie.net/the-100/images/b/bc/Plot.png/revision/latest?cb=20161105203748&path-prefix=fr" alt="Maintenance">
