@model IEnumerable<BoVoyageBlandineThomasJonathan.Models.Voyage>

@{
    ViewBag.Title = "Accueil";
}

<h2 style="text-align: center">Accueil BoBackOffice</h2> <br />


<div class="container text-center">
    <h3>Votre tableau de bord</h3>  <br />
    <div class="row">
        <div class="col-sm-6" style="border: 5px solid black">
            <h4>Mes reservations</h4>
            <div class="row" text-center>

                @*@Html.Action("MyReservations", "BOShared")*@

            </div>

        </div>

        <div class="col-sm-6" style="border: 5px solid black">
            <h4>Voyages à venir</h4>

            <div class="row" text-center>

                @foreach (var item in Model)
                {
                    <table class="table" text-align="center">
                        <tr>
                            @Html.DisplayFor(modelItem => item.Destination.Pays)
                        </tr>
                        <tr>
                            @Html.DisplayFor(modelItem => item.DateAller)
                        </tr>
                        <tr>
                            @Html.DisplayFor(modelItem => item.TarifToutCompris)
                        </tr>
                    </table>
                }

            </div>

            @*@Html.Action("UpcomingView", "BOShared")*@

        </div>
    </div>
</div>


